
#container {
  width: 100%;
  height: 100%;
  font-family: 'Arimo', sans-serif;
  font-size: 1em;
}

#fixed {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow-y: auto;
  z-index: 999;
  pointer-events: none;
}

#header {
  width: 100%;
  height: 50px;
  font-size: 1.3em;
  word-spacing: 0.25em;
  padding: 20px 0px 0px 0px;
  position: relative;
  float: left;
  z-index: 999;
  text-decoration: none;
}

#siteName {
  padding-left: 3px;
  display: block;
  transform-origin: 0% 100%;
  position: relative;
  z-index: 999;
}

#header a {
  text-decoration: none;
  color:inherit;
  pointer-events: all;
}

.sidebarItem {
  padding: 0px 0px 14px 3px;
  font-weight: bold;
}

#mainVid {
  margin-top: 80px;
}

/*Project Layout*/

#sidebar {
  float: left;
  /*padding-top: 30px;*/
  width: 35%;
  font-size: 0.85em;
  pointer-events: all;
}

#menu {
  width: 100%;
  float: left;
  margin-bottom: 15px;
  z-index: 100;
  /*background: #777777;*/
}

#filter {
  width: 100%;
  padding-bottom: 10px;
  overflow-x: hidden;
}

#menuIcon {
  width: 100px;
  float: left;
}

#main {
  width: 50%;
  padding: 10px 10px 80px 20px;
  float: left;
  position: relative;
  top:50px;
  left:40%;
  /*overflow-y:auto;*/
  z-index: 99;
  overflow: visible;
}

#sidebar ul {
  list-style-type: none;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

#projectList li {
  display: inline-block;
  width: 100%;
  padding: 6px 3px 6px 0px;
}

#projectList li a {
  display: inline-block;
  width: 100%;
  color: #000000;
  padding: 2px;
  background: rgba(0,0,0,0);
  text-decoration: none;
  cursor: pointer;
}

#projectList svg {
    position: absolute;
    z-index: -1;
    overflow-x: hidden;
}

#filter li {
  display: inline-block;
  width: 100%;
  padding: 5px 0px;
  /*color: #888888;*/
  color: black;
  text-decoration: none;
  z-index: 100;
  cursor: pointer;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

#filter div {
  padding: 2px;
  opacity: .5;
}

#filter svg {
    position: absolute;
    z-index: -1;
    overflow: hidden;
}

.proj h1 {
  font-size: 2em;
  /*font-weight: bold;*/
  line-height: 1.05em;
  font-family: 'Roboto Mono', sans-serif;
  letter-spacing: -0.02em;
}

.proj h2 {
  font-size: 1.1em;
  font-weight: normal;
  font-style: italic;
  opacity: .7;
  line-height: 1.3em;
  padding-bottom: 1.3em;
}

.proj p, .proj li, .fixedWidth p {
  /*font-size: 1em;*/
  line-height: 1.15em;
  font-family: 'Crimson Text', serif;
  font-size: 1.1em;
}

.proj.archive h1 {
  font-size: 1.7em;
  /*font-weight: bold;*/
  line-height: 1.05em;
  font-family: 'Roboto Mono', sans-serif;
  letter-spacing: -0.02em;
}

.proj.archive h2 {
  line-height: 0.8em;
}

.proj img {
  margin-top: 65px;
  width: 100%;
  box-shadow: 10px 10px 40px grey;
  position: relative;
}

.projVid {
  margin-top: 50px;
  width: 100%;
}

.about {
  font-size: 1em;
  line-height: 1.2em;
  margin-top: 15px;
}

#projectList .fOver {
  background: rgba(0,0,255,0.4);
  }

#filter .fOver {
  background: rgba(0,0,255,0.4);
}

#projectList .fSelect {
  opacity: .5;
}

#projectList .projSelect {
  opacity: 1 !important;
  background: rgba(0,0,255,0.6);
}

#filter .fSelect div {
  opacity: 1 !important;
  background: rgba(0,0,255,0.6);
}

#sidebarIconContainer {
  position: relative;
  display: inline-block;
  top:0;
  left: 0;
  width: 3.5%;
  height: 100px;
  opacity: 0;
}

.sidebarShow {
  opacity: .5 !important;
}

.sidebarIcon {
  pointer-events: fill !important;
}

.about img {
    position: inline;
    padding: 0px 15px 15px 0px;
}

#main.mainSlideOver {
  left: 11.5%;
}

#main.mainSlideBack {
  left: 40%;
}

.arcPost {
  padding-bottom: 60px;
}

.arcPost img {
  margin-top: 25px;
}

/*.pBox {
  background: blue;
  padding: 2px;
  opacity: 0;
}*/

@media screen and (min-width: 40.5em) { 

  #container {
    padding-left: 40px; 
  }

  #main {
    left: 33%;
    padding-left: 10px;
  }

  #sidebar {
    width: 30%;
  }

  #menu {
    width: 56%;}

  #filter ul{
  /*padding-left: 10px;*/
  }

  #filter {
    width: 36%;
    float: left;
    margin-left: 8%;
    /*margin-right: 16px;*/
  }

  #main.mainSlideBack {
  left: 33%;
  }

  #mainVid {
    margin-top: 0px;
  }

  #main.fixedWidth {
    left: 23%;
    width: 58% !important;
  }

  .about {
    margin-top: 80px;
  }

  .about img {
    float: right; 
    padding-left: 15px;
  }

}