
.container {
  width: 100%;
  height: 100%;
  font-family: 'Arimo', sans-serif;
  font-size: 1em;
}

#fixed {
  width: 100%;
  height: 100%;
  position: fixed;
  /*background: #e8e8e8;*/
  overflow-y: auto;
}

#header {
  width: 100%;
  height: 50px;
  font-size: 1.4em;
  word-spacing: 0.25em;
  padding: 20px 0px 0px 0px;
  float: left;
  z-index: 999;
  text-decoration: none;
  /*background: #e8e8e8;*/
}

#header a {
  text-decoration: none;
  color:inherit;
  padding-left: 3px;
  display: block;
  transform-origin: 0% 100%;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#sidebar {
  float: left;
  width: 35%;
  font-size: 0.9em;
}

#menu {
  width: 100%;
  float: left;
  margin-bottom: 15px;
  z-index: 100;
  /*background: #777777;*/
}

#filter {
  width: 100%;
  padding-bottom: 10px;
  overflow-x: hidden;
  /*background: #777777;*/
}

#menuIcon {
  width: 100px;
}

#main {
  width: 50%;
  padding: 10px 10px 160px 10px;
  float: left;
  position: relative;
  top:50px;
  left:40%;
  overflow-y:auto;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  /*background: #e8e8e8;*/
}

#menuIcon {
  float: left;
}

#sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /*background: #f1f1f1;*/
}

#projectList li a {
  display: block;
  width: 100%;
  padding: 12px 3px 12px 3px;
  color: #000000;
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

#projectList svg {
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    overflow-x: hidden;
}

#filter li {
  display: block;
  width: 100%;
  padding: 7px 0px;
  /*color: #888888;*/
  color: black;
  text-decoration: none;
  z-index: 100;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#about a {
  padding-left: 3px;

}

#filter div {
  opacity: .5;
  -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

#filter svg {
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    overflow: hidden;
}

.proj h1 {
  font-size: 2em;
  font-weight: bold;
  line-height: 1em;
}

.proj h2 {
  font-size: 1.1em;
  font-weight: normal;
  font-style: italic;
  opacity: .7;
  line-height: 1.3em;
  padding-bottom: 1.3em;
}

.proj p {
  font-size: 1em;
  line-height: 1.2em;
}

.proj img {
  margin-top: 50px;
  width: 100%;
}

.projVid {
  margin-top: 50px;
  width: 100%;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}


#projectList .fOver {
  opacity: .25 !important;
}

.fSelect svg {
  opacity: .5 !important;
}

#projectList .fSelect {
  opacity: .5 !important;
}

#filter .fSelect div {
  opacity: 1 !important;
}

#sidebarIconContainer {
  float: left;
  width: 3.5%;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  opacity: 0;
}

.sidebarShow {
  opacity: .5 !important;
}

.sidebarIcon {
  pointer-events: fill !important;
}

@keyframes slideOver {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    -webkit-transform: translate3d(-37%, 0, 0);
    transform: translate3d(-37%, 0, 0);
  }
}

.slideOver {
  -webkit-animation-name: slideOver;
  animation-name: slideOver;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
  -webkit-animation-timing-function: ease-in;
}

.slideOver {
  pointer-events: none;
}

.slideVertical {
  opacity: 0.5 !important;
  -moz-transform: rotate(90deg) translate(-27px);
  -webkit-transform: rotate(90deg) translate(-27px);
  -o-transform: rotate(90deg) translate(-27px);
  transform: rotate(90deg) translate(-27px);
}

@keyframes mainSlideOver {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    -webkit-transform: translate3d(-30.2%, 0, 0);
    transform: translate3d(-30.2%, 0, 0);
  }
}

.mainSlideOver {
  -webkit-animation-name: mainSlideOver;
  animation-name: mainSlideOver;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
  -webkit-animation-timing-function: ease-in;
}

@keyframes slideBack {
  from {
    -webkit-transform: translate3d(-37%, 0, 0);
    transform: translate3d(-37%, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideBack {
  -webkit-animation-name: slideBack;
  animation-name: slideBack;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
  -webkit-animation-timing-function: ease-in;
}

@keyframes mainSlideBack {
  from {
    -webkit-transform: translate3d(-30.2%, 0, 0);
    transform: translate3d(-30.2%, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.mainSlideBack {
  -webkit-animation-name: mainSlideBack;
  animation-name: mainSlideBack;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
  -webkit-animation-timing-function: ease-in;
}

@media screen and (min-width: 40.5em) { 

  .container {
    padding-left: 40px; 
  }

  #main {
    left: 33%;
  }

  #sidebar {
    width: 30%;
  }

  #menu {
    width: 56%;}

  #filter ul{
  /*padding-left: 10px;*/
  }

  #filter {
    width: 36%;
    float: left;
    margin-left: 8%;
    /*margin-right: 16px;*/
  }

/*  #sidebarIconContainer {
    width: 3.6%;
  }
*/
    @keyframes slideBack {
      from {
        -webkit-transform: translate3d(-30.4%, 0, 0);
        transform: translate3d(-30.4%, 0, 0);
    }
}
    @keyframes slideOver {
        to {
    -webkit-transform: translate3d(-30.4%, 0, 0);
    transform: translate3d(-30.4%, 0, 0);
  }
}

    @keyframes mainSlideBack {
      from {
        -webkit-transform: translate3d(-28%, 0, 0);
        transform: translate3d(-28%, 0, 0);
    }
}
    @keyframes mainSlideOver {
        to {
    -webkit-transform: translate3d(-28%, 0, 0);
    transform: translate3d(-28%, 0, 0);
  }
}



}